.button-one{
    background-color:#44c767;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Times New Roman";
	font-size:16px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:-1px -1px 3px #2f6627;
}
.button-one:hover {
	background-color:#5cbf2a;
}
.button-one:active {
	position:relative;
	top:1px;
}
.button-two{
    background-color:#c62d1f;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
	border:3px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Times New Roman";
	font-size:16px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:-1px -1px 3px #810e05;
}
.button-two:hover {
	background-color:#f24437;
}
.button-two:active { 
	position:relative;
	top:1px;
}
 .event-name {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-family: 'Times New Roman';
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.date-of-event {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-family: 'Times New Roman';
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.days-left-widget {
    border: 5px solid RGB(128, 0, 128);
	float: right;
	padding: 25px;
	background-color: #FF00FF;
	opacity: 0.9;
    border-radius: 05px;
	transition: 100ms;
	width: 15%;
	height: 15%;
}
.set-to-yellow{
	background-color: #FFFF00;
} 
.set-to-red {
	background-color: #FF0000;
}
.set-to-green {
	background-color: #008000;
}
.set-to-blue {
	background-color: #0000FF;
}
.set-to-purple {
	background-color: #800080;
}
.set-to-white {
	background-color: #FFFFFF;
}
