.widgetDaysLeft {
	box-shadow:0 0 80px -14px rgba(0,0,0,.8);
	border-radius: 5px;
	float: center;
	font-family: "Times New Roman", Georgia, Serif;
	font-style: bold;
	font-size: 1.3em;
	margin: 0 auto;
	margin-top:2%;
	padding: 20px;
	position:relative;
	font-weight: bold;
	opacity: 0.9;
	text-align:center;
} 
.widgetDaysLeftSetToDarkRed {
	background-color:#D9534F;
	border-radius: 5px;
	display: block;
	font-size: 1.8em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
.widgetDaysLeftSetToOrange  {
	background-color: orange;
	border-radius: 5px;
	display: block;
	font-size: 1.4em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
.widgetDaysLeftSetToGreen {
	background-color: green;
	border-radius: 5px;
	display: block;
	font-size: 1.4em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
.widgetDaysLeftSetToCyan {
	background-color: #008b8b;
	border-radius: 5px;
	display: block;
	font-size: 1.4em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
.widgetCondition {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 1.45em;
	animation: dimFontOfLabel 4s linear infinite 4s;
	animation-delay: 3s;
}
.widgetEvent {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 1.8em;
	text-overflow: ellipsis;
	animation: dimFontOfLabel 4s linear infinite 4s;
}
@keyframes dimFontOfLabel {
	0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
	8% { opacity: 1; height: 60px; }
	19% { opacity: 1; height: 60px; }
	25% { opacity: 0.3; height: 60px; }
	100% { opacity: 0.3; }
}
