.days-left-widget {
    border: 5px solid #56ccf2;
	float: right;
	padding: 25px;
	background-color: #56ccf2;
	opacity: 0.9;
	font-style: italic;
	font-style: bold;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	border-radius: 05px;
	stroke-linecap: square;
	text-align: center;
	transition: 100ms;
	width: 15%;
	height: 15%;
	margin: auto;
}
.set-to-yellow{
	background-color: #FFFF00;
} 
.set-to-red {
	background-color: #FF0000;
}
.set-to-green {
	background-color: #008000;
}
.set-to-blue {
	background-color: #0000FF;
}
.set-to-purple {
	background-color: #800080;
}
.set-to-white {
	background-color: #FFFFFF;
}
.set-to-gold {
background-color: #D4AF37
}
