.days-left-widget {
	background-color: #56ccf2;
	border: 5px solid #56ccf2;
	border-radius: 05px;
	float: center;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-style: bold;
	left:auto;
	margin: 25px;
	padding: 25px;
	position:relative;
	opacity: 0.9;
	right:auto;
	text-align:center;
	width: 300%px;
}
.set-to-yellow{
	background-color: #FFFF00;
} 
.set-to-red {
	background-color: #FF0000;
}
.set-to-green {
	background-color: #008000;
}
.set-to-blue {
	background-color: #0000FF;
}
.set-to-purple {
	background-color: #800080;
}
.set-to-white {
	background-color: #FFFFFF;
}
.set-to-gold {
background-color: #D4AF37
}
